*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# other
*.log
*.DS_Store
.classpath
.dbeaver-data-sources.xml
.project
*.swp
.settings
target

#derby db
resources/run_derby/meterstanden/*/*.dat
resources/run_derby/meterstanden/log/
